* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  /* width: 100%;
  height: 100%; */
  background-color: rgba(176, 211, 46, 0.2);
  text-align: center;
  font-size: 100px;
  background-image: url("./dummy.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: left top;
}
