html {
  font-size: 4rem;
}
main {
  border: 5px solid rgb(231, 231, 19);
  width: 25vw;
}

/* % unit is  relative to parent  */
/* view width,px,view height is absolute unit and is not relative to parent */
/* em works relative to  parent and rem works relative to root ie html/ */
section {
  border: 5px dashed rgb(235, 11, 11);
  width: 200vw;
  height: 50vh;
}
body {
  font-size: 2rem;
}
header {
  font-size: 10rem;
}
h1 {
}
